body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}



.container-fluid{
    margin: 0;
    padding: 0;
}

ul{
  display: inline;
}
h1{ text-align: center;}
h4{text-align: center;}

tbody{
  width: 100%;

}

th{
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.table>tbody>tr>td{
  width: 100%;
  margin: 0;
  padding: 0;
}
tr{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
td{
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

nav{
  font-size: 1.5em;
}

input[id^=textbox]{
  width:60%;
  margin-top: 5px;
  font-size: 1.5em;
  border-color: transparent;
}

a {
  color: #00B7FF;
}


.switch{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 45px;
}

.switch input{
  display: none;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  background-color: #ccc;
  -webkit-transistion:.3s;
  transition: .3s
}

.slider:before{
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider{
  background-color:#47d147;
}

input:focus + .slider{
  box-shadow: 0 0 5px #47d147;
}

input:checked + .slider:before{
  -webkit-transform: translateX(55px);
  -ms-transform: trnaslateX(55px);
  transform: translateX(55px);
}

.slider.round{
  border-radius: 34px;
}

.slider.round:before{
  border-radius: 50%;
}

.col-xs-12{
  margin-bottom: 1vw;
}

#refresh{
  margin-bottom: 2vw;

}



@media(min-width: 768px){
  input[id^=textbox]{
    width: 25%;
    margin-top:1px;
  }
}


.round,.round:focus{
  outline-style: none;
  border-radius: 15px;
}
